<div class="">
  <a href="{{ url }}">
  <img class="center-block" src="{{ raw_url }}" alt="{{ title }}"
  {% if FLICKR_TAG_INCLUDE_DIMENSIONS %}
     width="{{width}}"
     height="{{height}}"
  {% endif %}
  />
  </a>
  <div class="caption">
    <p>{{ title }}</p>
  </div>
</div>
