<p class="copyright text-muted">
  <cite>{{ SITENAME }}</cite> by <a href="{{ SITEURL }}">{{ AUTHOR }}</a> is
  licensed under a <a
  href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
  Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</p>
